<div class="container">
  <h1 class="display-1 text-center title">De Angular krant</h1>

  <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
    <li ngbNavItem>
      <a ngbNavLink class="navbar-size" routerLink="/" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li ngbNavItem *ngFor="let tag of (tags | async)">
      <a ngbNavLink class="navbar-size" routerLink="{{tag.name}}" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">{{tag.name}}</a>
    </li>
   
    
    <li ngbNavItem *ngIf="token === null">
      <button type="button" class="btn btn-danger ml-5 mb-1" routerLink="login" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Login</button>
    </li>
    <li ngbDropdown *ngIf="role === 'User'">
      <a href (click)="false" class="nav-link navbar-size" ngbDropdownToggle>User</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="logout()">Uitloggen</button>
      </div>
    </li>
    <li ngbDropdown *ngIf="role === 'Admin'">
      <a href (click)="false" class="nav-link navbar-size" ngbDropdownToggle>Admin</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem routerLink="/admin" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Homepage</button>

        <button ngbDropdownItem routerLink="/admin/journalist" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Journalisten beheren</button>

        <button ngbDropdownItem routerLink="/admin/artikel" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Artikels publiceren</button>

        <button ngbDropdownItem routerLink="/admin/tags" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Tags beheren</button>

        <button ngbDropdownItem routerLink="/admin/archief" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Archief bekijken</button>

        <div class="dropdown-divider"></div>

        <button ngbDropdownItem (click)="logout()">Uitloggen</button>
      </div>
    </li>
    <li ngbDropdown *ngIf="role === 'Journalist'">
      <a href (click)="false" class="nav-link navbar-size" ngbDropdownToggle>Journalist</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem routerLink="/journalist/index" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Homepage</button>

        <button ngbDropdownItem routerLink="/journalist/artikel" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Nieuw artikel</button>

        <div class="dropdown-divider"></div>
        <button ngbDropdownItem (click)="logout()">Uitloggen</button>
      </div>
    </li>
  </ul>

  <router-outlet></router-outlet>


</div>